.notification {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;
}

.notification__container {
  position: relative;
  right: 20px;
  background-color: rgba(var(--dark-rgb), 0.95);
  border-right: 10px solid rgb(69, 189, 58);
  color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  min-height: 50px;
  animation: appear 0.6s forwards;

  display: flex;
  align-items: center;
}

.notification--error .notification__container {
  border-color: rgb(216, 50, 50);
}

.notification__container--dismiss {
  animation: dismiss 0.6s;
}

@keyframes appear {
  0%{
    top: 50px;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes dismiss {
  0%{
    top: 0;
    opacity: 1;
  }
  100% {
    top: 50px;
    opacity: 0.2;
  }
}